version: 'v2.2.1-dev.{build}'

build: off
branches:
  only:
    - master
    - develop

environment:
  matrix:
    - PYTHON: "C:\\Python35"
    - PYTHON: "C:\\Python35-x64"
    - PYTHON: "C:\\Python36"
    - PYTHON: "C:\\Python36-x64"
    - PYTHON: "C:\\Python37"
    - PYTHON: "C:\\Python37-x64"
    - PYTHON: "C:\\Python38"
    - PYTHON: "C:\\Python38-x64"
matrix:
  fast_finish: true

cache:
  - '%LOCALAPPDATA%\pip\Cache'
  - .downloads -> .appveyor.yml

install:
  - "cmd /c .\\test\\tools\\ci-win.cmd install"

test_script:
  - "cmd /c .\\test\\tools\\ci-win.cmd test"

on_failure:
  - ps: get-content .tox\*\log\*
