language: python

arch:
  - arm64
  - amd64
  - ppc64le

python:
  - "3.6"
  - "3.7"
  - "3.8"
  - "3.9"
  - "3.10"

cache:
  - pip

install:
  - pip install -U pip tox tox-travis coveralls codecov

script:
  - tox

after_success:
  - codecov
